{% extends "layout.njk" %}

{% block content %}
  <div class="container">
    <div class="info-empresa">
      <img src="https://pbs.twimg.com/profile_images/953595371875422210/0pWsfSSp_400x400.jpg" alt="">
      <h1>Rocketseat</h1>
      <h2>As <span>melhores</span> tecnologias em programação, <span>direto ao ponto</span> e do jeito certo.</h2>
      <ul>Principais Tecnologias
        <li>Javascript</li>
        <li>NodeJS</li>
        <li>ReactJS</li>
        <li>React Native</li>
      </ul>
    </div>
    <div class="links">
      <a href="http://github.com/rocketseat">Github</a>
      <a href="https://www.instagram.com/rocketseat_oficial/">Instagram</a>
      <a href="http://fb.com/rocketseat">Facebook</a>
    </div>
  </div>

{% endblock %}