{% extends "layout.njk" %}

{%block head %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
  <section class="courses">
    {% for course in courses %}
    <div class="course" id="{{course.name}}">
      <div class="course__image">
        <img src="{{course.urlImage}}" alt="">
      </div>
      <div class="course__text">
        <p><span class="{{course.name}}">{{course.description}}</p>
      </div>
      <div class="course__info-modules">
        <p>{{course.modules}}</p>
        <p class="course__price">{{course.price}}</p>
      </div>
    </div>
    {% endfor %}

  </section>
  
  <script src="/scripts.js"></script>
{% endblock %}