{% extends "layout.njk" %}

{% block content %}
  
    <div class="card__course-container">
      <iframe src="https://rocketseat.com.br/{{course.name}}" frameborder="0"></iframe>
    </div>
  
{% endblock %}
