{% extends "layout.njk" %}

{%block content%}
  <div class="content-index">
    <img src="https://skylab.rocketseat.com.br/static/0828532024cb46921a6b5e941f8d788d.svg" alt="" srcset="">
    <h1>Welcome page <span>CHALLENGE 03</p></h1>
    <p>Enjoy it !!! ;)</p><br>
  </div>
  <div class="test-error">
    <a href="teste">Testar erro 404</a>
  </div>
  


{% endblock %}